* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 /*-- Background color for the website! */ 

body {
    background-color: #d9dcd6;
}

/*Top header with the Hori'SEO'n logo on it and links for the 3 main topics on the page*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color:   #ffffff;
    display: flex;
    justify-content: space-between;
    ;
}
/* styles for "Hori'SEO'n logo*/
h1 {
    display: flex;
    justify-content: space-between;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}
 /*styles for the links*/
ul {
    display: flex;
    justify-content: space-between;
     list-style-type: none;
    
}
li {
    margin:10px;
    display: inline-block;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*font size for most text on the page || Used for detailed information on articles*/
p {
    font-size: 16px;
}
/*Image style for website main page and first-look*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*float classes*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* represents the entirity of space  taken for the 3 main topics (classes) of the website (search-engine-optimization; online-reputation-management; social-media-marketing) */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Style for the benefits section on right side (20% of width) */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles for the varied headers, images and content within the Benefits section */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 3 main topics on the page*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* 3 Image styles for each image*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
 /*Topic Titles (three styles) <!--could both this and the previous css between this and the last comment be simplified intirely into about 2 classes? not sure so gonna leave it as is. Would like feedback on this, thank you!*/

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Ending footer Styles (bottom of website)*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
